@using Webdiyer.WebControls.Mvc;
@model Webdiyer.WebControls.Mvc.PagedList<Auth.Model.VersionInfo>
@using Auth.Web
@{
    ViewBag.Title = "版本管理";
    Utils fun = new Utils();
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnclear").bind("click", function () {
            $("#VersionNo").val("");
            $("#IsPublish").val("");
            $("#ClientType").val("");
            $("#searchForm").submit();
        });

//        $("#hide").toggle(function () {
//            $("#Searchcontent").hide();
//        },
//    function () {
//        $("#Searchcontent").show();
//    }
//);
    });
</script>

<div class="topinformationbox">
    <a>版本管理</a>

</div>

<div class="page">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table class="tbsearch" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td id="hide">
                                    <span>
                                    </span>查询条件

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td >
      
                    <div class="tbcontent" id="Searchcontent">
                        @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "Version", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
                        {
                            <table class="tb tbbordertopleft" cellpadding="0" cellspacing="0" width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td width="5%" class="label">
                                            版本号
                                        </td>
                                        <td width="15%">
                                            <input name="VersionNo" id="VersionNo" style="width:99%;height:22px" />
                                        </td>
                                        <td width="5%" class="label">
                                            终端类型
                                        </td>
                                        <td width="15%">

                                            <div class="select_border">
                                                @Html.DropDownList("ClientType", fun.Selectlists("ctype"), "全部", new { Style = "width:99%" })
                                            </div>

                                        </td>
                                        <td width="5%" class="label">
                                            是否发布
                                        </td>
                                        <td width="15%">
                                            <div class="select_border">

                                                <select name="IsPublish" id="IsPublish" style="width:99%">
                                                    <option value="">全部</option>
                                                    <option value="0">否</option>
                                                    <option value="1">是</option>
                                                </select>
                                            </div>

                                        </td>

                                    </tr>

                                    <tr height="40">
                                        <td colspan="6">
                                            <div class="tbbtn center">
                                                <input type="submit" value="查询" style="width:65px; height:25px" />
                                                <input type="button" value="清空" id="btnclear" style="width:65px; height:25px" />
                                            </div>


                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        }
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
    <div style="height: 20px;">
    </div>
    <div id="Version" align="center">
        @Html.Partial("_VersionSearchGet", Model)
    </div>
</div>

@section Scripts
{@{Html.RegisterMvcPagerScriptResource();}
<script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>}


